{% extends "get_together/base.html" %}
{% load static i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img class="align-bottom" border="1" src="{{profile.avatar_url}}" height="128px"/>
            <h2>{% trans "Profile:" %} {{user}}</h2>
            <form enctype="multipart/form-data" action="{% url "edit-profile" %}" method="post">
            {% csrf_token %}
            {% include "events/profile_form.html" %}
	            <br />
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </form>
        </div>
    </div>

{% if request.user.email and not request.user.account.is_email_confirmed %}
    <div class="row">
        <div class="col">
            <hr/>
            <div class="alerts"><div class="alert alert-danger">{% trans "Your email address has not been confirmed." %}</div></div>
            <p>{% trans "You will not be able to receive email notifications from GetTogether until you confirm that this address belongs to you." %}</p>
            <p><a href="{% url 'send-confirm-email' %}" class="btn btn-success">{% trans "Confirm your email" %}</a></p>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-ui-lookup.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#city_select").lookup({
        search: function(searchText, callback) {
            if (searchText.length < 3) return callback(searchText, []);
            $.getJSON("/api/cities/?q="+searchText, function(data) {
                var m = this.url.match(/q=([^&]+)/);
                var q = "";
                if (m && m.length > 0) {
                    q = this.url.match(/q=([^&]+)/)[1]
                }

                return callback(q, data);
            });
        },
        select: function( event, ui ) {
          $("#id_tz").val(ui.data.tz);
          $("#id_tz").selectmenu("refresh");
        }
    });
    $("#id_tz").selectmenu()

    $("#id_send_notifications").change(function(event) {
        if (!this.checked) {
            if (!window.confirm("{% trans "If you opt out you will not receive emails reminding you of your upcoming events, when people join your team, or interact with your events." %}\n\n{% trans "Are you sure you want to do this?" %}")) {
                this.checked = true;
            }
        }
    });

    $("#id_do_not_track").change(function(event) {
        if (this.checked) {
            if (!window.confirm("{% trans "By opting out of tracking, your activity will not be included in site analytics that we use to improve GetTogether, and you will not you be shown sharing buttons that make it easy to promote teams and events to your social media accounts." %}\n\n{% trans "Are you sure you want to do this?" %}")) {
                this.checked = false;
            }
        }
    });
});
</script>
{% endblock %}
