{% extends "get_together/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img class="align-bottom" border="1" src="{{profile.avatar_url}}" height="128px"/>
            <h2>Profile: {{user}}</h2>
            <form enctype="multipart/form-data" action="{% url "edit-profile" %}" method="post">
            {% csrf_token %}
            {% include "events/profile_form.html" %}
	            <br />
            <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

{% if request.user.email and not request.user.account.is_email_confirmed %}
    <div class="row">
        <div class="col">
            <hr/>
            <div class="alerts"><div class="alert alert-danger">Your email address has not been confirmed.</div></div>
            <p>You will not be able to receive email notifications from GetTogether until you confirm that this address belongs to you.</p>
            <p><a href="{% url 'send-confirm-email' %}" class="btn btn-success">Confirm your email</a></p>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-ui-lookup.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#city_select").lookup({
        search: function(searchText, callback) {
            if (searchText.length < 3) return callback(searchText, []);
            $.getJSON("/api/cities/?q="+searchText, function(data) {
                var m = this.url.match(/q=([^&]+)/);
                var q = "";
                if (m && m.length > 0) {
                    q = this.url.match(/q=([^&]+)/)[1]
                }

                return callback(q, data);
            });
        },
        select: function( event, ui ) {
          $("#id_tz").val(ui.data.tz);
          $("#id_tz").selectmenu("refresh");
        }
    });
    $("#id_tz").selectmenu()
});
</script>
{% endblock %}
