{% extends "get_together/base.html" %}

{% block content %}

{% if user %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="h2"><img class="align-bottom" border="1" src="{{request.user.profile.avatar}}" height="64px"/> {{user.user}}</div>

            <p>Full name: <strong>{{user.realname}}</strong></p>

            {% if user.weburl %}
            <p>Homepage: {{user.weburl}}</p>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if teams %}
                <h3>Teams</h3>
                <ul>
                {% for t in teams %}
		            <li>
			            <a href="{% url 'show-team' t.id %}" title="Team page for {{t.name}}">{{t.name}}</a>
		            </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% else %}

<h2>User not found.</h2>

{% endif %}

{% endblock %}
