<table>
<tr>
    <th><label for="id_name">{{ team_form.name.label }}:</label></th>
    <td>{{ team_form.name }}</td>
</tr>
<tr><td colspan="2"><hr /></td></tr>
<tr>
    <th><label for="id_city">{{ team_form.city.label }}:</label></th>
    <td>{{ team_form.city }}</td>
</tr>
<tr>
    <th><label for="id_tz">{{ team_form.tz.label }}:</label></th>
    <td>{{ team_form.tz }}</td>
</tr>
<tr>
    <th><label for="id_cover_img">{{ team_form.cover_img.label }}:</label></th>
    <td>{{ team_form.cover_img }}</td>
</tr>
</table>
