{% extends "get_together/emails/base.html" %}

{% block content %}
<h3>You proposed a talk for {{event.name|striptags}}</h3>

{% if proposal.status == proposal.ACCEPTED %}
Congratulations! Your submitted talk, <b>{{proposal.talk.title}}</b>, has been accepted by the event hosts.
{% elif proposal.status == proposal.DECLINED %}
Unfortunately your submitted talk, <b>{{proposal.talk.title}}</b>, was declined by the event hosts.
{% else %}
Your submitted talk, <b>{{proposal.talk.title}}</b>, is currently being reviewed by the event hosts.
{% endif %}

<a href="{{event.get_full_url}}" title="Manage talks">View this event.</a>
</p>
{% endblock %}
