black==19.3b0
certifi==2017.11.5
chardet==3.0.4
click==6.7
decorator==4.2.1
defusedxml==0.5.0
dj-database-url==0.4.2
Django==2.0.12
django-appconf==1.0.2
django-ical==1.4
django-imagekit==4.0.2
django-imagekit-cropper==1.16
django-js-asset==1.0.0
django-mptt==0.9.0
https://github.com/GetTogetherComm/django-recurrence/releases/download/1.5.0/django-recurrence_1.5.0.tar.gz
django-settings-export==1.2.1
djangorestframework==3.9.1
future==0.16.0
geocoder==1.36.0
icalendar==4.0.1
idna==2.6
isort==4.3.17
Markdown==2.6.11
mock==2.0.0
model-mommy==1.5.1
oauthlib==2.0.6
pbr==4.0.4
pilkit==2.0
Pillow==6.2.0
pre-commit==1.15.2
PyJWT==1.5.3
python-dateutil==2.7.2
python3-openid==3.1.0
pytz==2017.3
ratelim==0.1.6
requests==2.20.0
requests-oauthlib==0.8.0
simplejson==3.13.2
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
urllib3==1.26.5
