{% extends "get_together/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <center>
                <h3>Pick a name and location for your new team</h3>

                <form action="{% url "create-team" %}" method="post" class="form">
                {% csrf_token %}
                <p>{% include "events/new_team_form.html" %}</p>
                <p><button type="submit" class="btn btn-primary">Continue</button></p>
                </form>
            </center>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-ui-lookup.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#city_select").lookup({
        search: function(searchText, callback) {
        if (searchText.length < 3) return callback(searchText, []);
            $.getJSON("/api/cities/?q="+searchText, function(data) {
                var m = this.url.match(/q=([^&]+)/);
                var q = "";
                if (m && m.length > 0) {
                    q = this.url.match(/q=([^&]+)/)[1]
                }

                return callback(q, data);
            });
        },
        select: function( event, ui ) {
          $("#id_tz").val(ui.data.tz);
          $("#id_tz").selectmenu("refresh");
        }
    })
    $("#id_category").selectmenu();
    $("#id_tz").selectmenu();
});
</script>

{% endblock %}
