{% extends "get_together/base.html" %}
{% load static i18n %}

{% block styles %}
    <link href="{% static 'css/bootstrap-album.css' %}" rel="stylesheet"/>

{% endblock %}

{% block content %}
<h2>{% trans "Select which team:" %}</h2>
<div class="container">
  <div class="row">
{% for team in teams %}
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="card-banner">
          <a href="{% url 'show-team-by-slug' team.slug %}">
          <img class="card-img-top" src="{{team.card_img_url}}" alt="{{team.name}}">
          </a>
          <p class="card-title">{{team.name}}</p>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>{{team.city}}</strong></p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">{% blocktrans count member_count=team.members.count %}{{ members_count }} member{% plural %}{{ members_count }} members{% endblocktrans %}</small>
            <div class="btn-group">
                <a class="btn btn-success" href="{% url 'create-event' team.id %}?common={{common_event_id}}">{% trans theme.text_labels.host_event %}</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
</div>
{% endblock %}
