{% extends "get_together/base.html" %}
{% load static i18n %}

{% block content %}
<h2>{{ theme.buttons.host_event.label }}</h2>

<form action="{% url "new-event-start" %}" method="post">
{% csrf_token %}
<div class="form-group">
{% include "events/event_form.html" %}
	<br />
<button type="submit" class="btn btn-primary">{% trans "Schedule event" %}</button>
</div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){

    $.datepicker.setDefaults({
        showOn: 'focus',
        dateFormat: 'yy-mm-dd',
    });

    $("#id_start_time_0").datepicker({altField: "#id_end_time_0", altFormat: "yy-mm-dd"});

    $("#id_end_time_0").datepicker();

    $("#id_start_time_1").selectmenu({width: 150});
    $("#id_end_time_1").selectmenu({width: 150});
});

</script>
{% endblock %}
