{% extends "get_together/base.html" %}
{% load static %}

{% block meta %}
<script type="text/javascript" src="{% static 'recurrence/js/recurrence.js' %}"></script>
<script type="text/javascript" src="{% static 'recurrence/js/recurrence-widget.js' %}"></script>
<link href="{% static 'recurrence/css/recurrence.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>Provide some more information about your event</h2>

<form action="{% url "new-event-add-details" event.id %}" method="post">
{% csrf_token %}
<div class="form-group">
{% include "events/event_form.html" %}
	<br />
<button type="submit" class="btn btn-primary">Save details</button>
<a class="btn btn-secondary" href="{% url 'new-event-add-team' event.id %}">Skip</a>
</div>
</form>
{% endblock %}
