{% extends "get_together/base.html" %}
{% load static %}

{% block extra_google_analytics %}
    gtag('config', '{{settings.GOOGLE_ANALYTICS_ID}}', {'page_path': '/team/+create-event/'});
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'recurrence/css/recurrence.css' %}">
    <script src="{% static 'recurrence/js/recurrence.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Plan a <strong>{{team.name}}</strong> get together</h2>
{% if event.parent %}<p class="text-muted">As part of <a href="{% url "show-common-event" event.parent.id event.parent.slug %}">{{ event.parent.name }}</a></p>{% endif %}

<form action="{% url "create-event" team.id%}" method="post">
{% csrf_token %}
{% if event.parent %}<input type="hidden" name="common" value="{{event.parent.id}}" />{% endif %}
<div class="form-group">
{% include "events/event_form.html" %}
	<br />
<button type="submit" class="btn btn-primary">Next: Find a Place &gt;</button>
</div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){

    $.datepicker.setDefaults({
        showOn: 'focus',
        dateFormat: 'yy-mm-dd',
    });

    $("#id_start_time_0").datepicker({altField: "#id_end_time_0", altFormat: "yy-mm-dd"});

    $("#id_end_time_0").datepicker();

});

</script>
{% endblock %}
