{% extends "get_together/base.html" %}
{% load static i18n %}

{% block meta %}
<script type="text/javascript" src="{% static 'recurrence/js/recurrence.js' %}"></script>
<script type="text/javascript" src="{% static 'recurrence/js/recurrence-widget.js' %}"></script>
<link href="{% static 'recurrence/css/recurrence.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>{% blocktrans with event_name=event.name %}Updating {{event_name}}{% endblocktrans %}</h2>
<form action="{% url "edit-event" event.id%}" method="post">
{% csrf_token %}
{% include "events/event_form.html" %}
	<br />
	<a href="{{ event.get_absolute_url }}" class="btn btn-secondary"><i class="fa fa-chevron-left"></i> {% trans "Back" %}</a>
	<button type="submit" class="btn btn-primary">Update</button>
</form>
{% if event.status == event.CANCELED %}
<a href="{% url 'restore-event' event.id %}" class="btn btn-success">{% trans "Restore" %}</a>
{% else %}
<a href="{% url 'cancel-event' event.id %}" class="btn btn-warning">{% trans "Cancel" %}</a>
{% endif %}
<a href="{% url 'delete-event' event.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("#place_search").keyup(function() {
	var searchText = this.value;
	$.getJSON("/api/places/?q="+searchText, function(data, status) {
	    var searchField = $("#place_search")[0];
	    var q = this.url.match(/q=([^&]*)/)[1]
	    var c = searchField.value
	    if (c != q) return;

	    var selectField = $("#place_select");
	    selectField.empty();
	    $.each(data, function(){
		selectField.append('<option value="'+ this.id +'">'+ this.name+' '+this.city + '</option>')
	    });
	});
    });

    $.datepicker.setDefaults({
        showOn: 'focus',
        dateFormat: 'yy-mm-dd',
    });

    $("#id_start_time_0").datepicker({altField: "#id_end_time_0", altFormat: "yy-mm-dd"});

    $("#id_end_time_0").datepicker();

    $("#id_start_time_1").selectmenu({width: 150});
    $("#id_end_time_1").selectmenu({width: 150});

});

</script>
{% endblock %}
