{% extends "get_together/base.html" %}

{% block content %}
<h2>Updating {{event.name}}</h2>
<form action="{% url "edit-event" event.id%}" method="post">
{% csrf_token %}
<div class="form-group">
{% include "events/event_form.html" %}
	<br />
<button type="submit" class="btn btn-primary">Save</button>
</div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("#place_search").keyup(function() {
	var searchText = this.value;
	$.getJSON("/api/places/?q="+searchText, function(data, status) {
	    var searchField = $("#place_search")[0];
	    var q = this.url.match(/q=([^&]+)/)[1]
	    var c = searchField.value
	    if (c != q) return;

	    var selectField = $("#place_select");
	    selectField.empty();
	    $.each(data, function(){
		selectField.append('<option value="'+ this.id +'">'+ this.name+' '+this.city + '</option>')
	    });
	});
    });

    $.datepicker.setDefaults({
        showOn: 'focus',
        dateFormat: 'yy-mm-dd',
    });

    $("#id_start_time_0").datepicker({altField: "#id_end_time_0", altFormat: "yy-mm-dd"});

    $("#id_end_time_0").datepicker();

});

</script>
{% endblock %}
