{% extends "get_together/base.html" %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/bootstrap-album.css' %}" rel="stylesheet"/>

{% endblock %}

{% block content %}
<h3>Your upcoming events</h3>
        <div class="container">
          <div class="row">
{% for event in events_list %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-banner">
                  {% if event.team.category %}
                  <img class="card-img-top" src="{{event.team.category.img_url}}" alt="{{event.name}}">
                  {% else %}
                  <img class="card-img-top" src="{% static 'img/team_placeholder.png' %}" alt="{{event.name}}">
                  {% endif %}
                  <p class="card-title">{{event.team.name}}</p>
                </div>
                <div class="card-body">
                  <p class="card-text"><strong><a class="card-link" href="{{event.get_absolute_url}}">{{event.name}}</a></strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ event.start_time }}</small>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{{ event.get_absolute_url }}">View</a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}
        </div>
    </div>

{% endblock %}

