{% extends "get_together/base.html" %}
{% load markup static %}

{% block add_to_totle %} | {{event.name}}{% endblock %}

{% block meta %}
  <meta property="og:url"           content="{{event.get_full_url}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{event.name}}" />
  <meta property="og:description"   content="{{event.summary|jsencode}}" />
  {% if event.team.category %}
  <meta property="og:image"         content="{{event.team.category.img_url}}" />
  {% else %}
  <meta property="og:image"         content="https://gettogether.community{% static 'img/team_placeholder.png' %}" />
  {% endif %}
  <link rel="canonical" href="{{event.get_full_url}}">
{% endblock %}

{% block content %}
{% if settings.SOCIAL_AUTH_FACEBOOK_KEY %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '{{settings.SOCIAL_AUTH_FACEBOOK_KEY}}',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.12'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function shareFacebook() {
        FB.ui({
          display: 'popup',
          method: 'share',
          href: '{{event.get_full_url}}',
          quote: 'I\'m having a Get Together!\n\n{{event.name|jsencode}}',
          hashtag: '#gettogether',
          summary: "Let's have a Get Together!"
        }, function(response){});
   }
</script>
{% endif %}
{% if settings.SOCIAL_AUTH_TWITTER_KEY %}
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>
{% endif %}

<h2>Announce your Get Together</h2>
<div class="layout">
    <div class="row mt-3">
        <div class="col">
            {% if settings.SOCIAL_AUTH_FACEBOOK_KEY %}<a href="#" onClick="shareFacebook()"; class="btn btn-primary">Facebook</a>{% endif %}
            {% if settings.SOCIAL_AUTH_TWITTER_KEY %}
            <a class="btn btn-primary"
              href="https://twitter.com/intent/tweet?text=I'm+having+a+get+together!%0D{{event.name|urlencode}}&original_referer={{event.get_full_url|urlencode}}&url={{event.get_full_url|urlencode}}&hashtags=gettogether"
              data-size="large">
            Twitter</a>
            {% endif %}
        </div>
        <div class="col">
            <a href="{{event.get_absolute_url}}" class="btn btn-secondary">Share later</a>
        </div>
    </div>
</div>
{% endblock %}
