{% extends "get_together/base.html" %}
{% load markup static tz %}

{% block add_to_title %} | {{event.name}}{% endblock %}

{% block meta %}
  <meta property="og:url"           content="{{event.get_full_url}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{event.name}}" />
  <meta property="og:description"   content="{{event.summary}}" />
  {% if event.team.category %}
  <meta property="og:image"         content="{{event.team.category.img_url}}" />
  {% else %}
  <meta property="og:image"         content="https://gettogether.community{% static 'img/team_placeholder.png' %}" />
  {% endif %}
{% endblock %}

{% block styles %}
    <link href="{% static 'css/bootstrap-album.css' %}" rel="stylesheet"/>
    <style>
.gt-profile {
    position: relative;
}
.gt-profile .gt-profile-badges {
    position: relative;
    top: 16px;
    left: -42px;
}

    </style>
{% if settings.SOCIAL_AUTH_FACEBOOK_KEY %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '{{settings.SOCIAL_AUTH_FACEBOOK_KEY}}',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.12'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function shareFacebook() {
        FB.ui({
          display: 'popup',
          method: 'share',
          href: '{{event.get_full_url}}',
          quote: 'I\'m having a Get Together!\n\n{{event.name|jsencode}}',
          hashtag: '#gettogether',
          summary: "Let's have a Get Together!"
        }, function(response){});
   }
</script>
{% endif %}
{% if settings.SOCIAL_AUTH_TWITTER_KEY %}
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>
{% endif %}
{% if settings.SOCIAL_AUTH_LINKEDIN_KEY %}

<script type="text/javascript">

  // Use the API call wrapper to share content on LinkedIn
  function shareLinkedIn() {
    //https://www.linkedin.com/cws/share?url=https%3A%2F%2Fdeveloper.linkedin.com%2Fetc%2Fdesigns%2Flinkedin%2Fkaty%2Fglobal%2Fclientlibs%2Fhtml%2Fsandbox.html%3Falign-class%3Dmiddle-center&original_referer=https%3A%2F%2Fdeveloper.linkedin.com%2Fetc%2Fdesigns%2Flinkedin%2Fkaty%2Fglobal%2Fclientlibs%2Fhtml%2Fsandbox.html%3Falign-class%3Dmiddle-center&token=&isFramed=true&lang=en_US&_ts=1525145063073.7769&xd_origin_host=https%3A%2F%2Fdeveloper.linkedin.com
    // Build the JSON payload containing the content to be shared
    window.open(
    'https://www.linkedin.com/shareArticle?mini=true&url={{event.get_full_url|urlencode}}&summary={{event.name|urlencode}}&title=I\'m+having+a+Get+Together!&source=GetTogether.Community',
    '_blank',
    'height=300,width=400');
  }

</script>{% endif %}
{% endblock %}

{% block content %}
<div class="fluid-container">
    <div class="row">
        <div class="col-md-9">
            <h2>{{ event.name }}
            </h2>
            <p class="text-muted">Hosted by <a href="{% url "show-team" team.id %}">{{ team.name }}</a></p>
            {% if settings.SOCIAL_AUTH_TWITTER_KEY %}
                <a href="https://twitter.com/intent/tweet?text=I'm+having+a+get+together!%0D{{event.name|urlencode}}&original_referer={{event.get_full_url|urlencode}}&url={{event.get_full_url|urlencode}}&hashtags=gettogether" data-size="large" class="btn btn-twitter btn-sm"><i class="fa fa-twitter"></i> Tweet</a>
            {% endif %}
            {% if settings.SOCIAL_AUTH_FACEBOOK_KEY %}
                <a href="#" onClick="shareFacebook();" class="btn btn-facebook btn-sm"><i class="fa fa-facebook-official"></i> Share</a>
            {% endif %}
            {% if settings.SOCIAL_AUTH_LINKEDIN_KEY %}
                <a href="#" onClick="shareLinkedIn();" class="IN-widget btn btn-linkedin btn-sm"><i class="fa fa-linkedin"></i> Share</a>
            {% endif %}
            {% if not event.is_over %}
                {% if can_edit_team or is_email_confirmed %}
                    <a href="{% url 'invite-attendees' event.id %}" class="btn btn-danger btn-sm"><i class="fa fa-envelope"></i> Invite</a>
                {% endif %}
                {% if not is_attending %}
                    <div class="btn-group">
                      <a href="{% url 'attend-event' event.id %}" class="btn btn-success btn-sm"><i class="fa fa-check-square-o"></i> Attend</a>
                      <button type="button" class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Attendance options</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'attend-event' event.id %}?response=maybe">Maybe</a>
                        <a class="dropdown-item" href="{% url 'attend-event' event.id %}?response=no">No</a>
                      </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if can_edit_event %}
            <div class="btn-group dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="editMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Edit
                </button>
                <div class="dropdown-menu" aria-labelledby="editMenuButton">
                        <a href="{% url 'edit-event' event.id %}" class="dropdown-item">Event Details</a>
                        <a href="{% url 'manage-event-sponsors' event.id %}" class="dropdown-item">Manage Sponsors</a>
                        <a href="{% url 'schedule-event-talks' event.id %}" class="dropdown-item">Manage Talks</a>
                        <a href="{% url 'manage-attendees' event.id %}" class="dropdown-item">Manage Attendees</a>
                </div>
            </div>
            {% endif %}

            <p>{{ event.summary|markdown }}</p>

            <table class="table">
            {% if event.parent %}
            <tr>
	            <td width="120px"><b>Part of:</b></td><td><a href="{{ event.parent.get_absolute_url }}" target="_blank">{{ event.parent.name }}</a></td>
            </tr>
            {% endif %}
            {% if event.series %}
            <tr>
	            <td width="120px"><b>Repeats:</b></td><td><a href="{{ event.series.get_absolute_url }}">
                {% for rule in event.series.recurrences.rrules %}
                {{rule.to_text|capfirst}}
	            {% endfor %}</a>
            </td>
            </tr>
            {% endif %}
            <tr>
	            <td width="120px"><b>Time:</b></td><td>{{ event.local_start_time }} - {{ event.local_end_time }}</td>
            </tr>
            <tr>
	            <td width="120px"><b>Place:</b></td><td>
                      {% if event.place %}
                          <a class="" href="{% url 'show-place' event.place.id %}">{{ event.place.name }}</a>
                          {% if can_edit_event %}<a href="{% url 'add-place' event.id %}" class="btn btn-secondary btn-sm">Change</a>{% endif %}
                      {% elif can_edit_event %}
                          <a class="" href="{% url 'add-place' event.id %}">No place selected yet.</a>
                      {% else %}
                          No place selected yet.
                      {% endif %}
	            </td>
            </tr>
            {% if event.web_url %}
            <tr>
	            <td width="120px"><b>Website:</b></td><td><a href="{{ event.web_url }}" target="_blank">{{ event.web_url }}</a></td>
            </tr>
            {% endif %}

            {% if event.team.is_premium %}
            <tr>
	            <td width="120px"><b>Presentations:</b></td>
                <td>
                    {% for presentation in presentation_list %}
                        <div><a href="{% url 'show-talk' presentation.talk.id %}">{{presentation.talk.title}}</a> by <a href="{% url 'show-speaker' presentation.talk.speaker.id %}">{{presentation.talk.speaker.user}}, {{presentation.talk.speaker.title}}</a></div>
                    {% endfor %}
                    {% if not event.is_over %}
                    <a class="btn btn-primary btn-sm" href="{% url 'propose-event-talk' event.id %}">Propose a talk</a>
                    {% endif %}
                    {% if pending_presentations and can_edit_event %}
                    <a class="btn btn-success btn-sm" href="{% url 'schedule-event-talks' event.id %}">{{pending_presentations}} proposed talks</a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            </table>

            <div class="container mt-3">
                <div class="row">
                    <div class="col"><hr/><h4>Comments</h4></div>
                </div>
                <div class="row">
                    {% load mptt_tags %}
                    <ul class="col list-group">
                        {% recursetree event.comments.all %}
                            <div id="comment-{{node.id}}" class="list-group-item flex-container">
                              <div class="row w-100 ml-0">
                                  <div class="w-100 d-flex justify-content-between">
                                      <div class="media gt-profile">
                                          <img class="mr-1 gt-profile-avatar" src="{{node.author.avatar_url}}" width="32px" height="32px">
                                          <span class="gt-profile-badges">{% for badge in node.author.user.account.badges.all %}<img class="mr-0 gt-profile-badge" src="{{badge.img_url}}" title="{{badge.name}}" width="16px" height="16px">{% endfor %}</span>
                                          <a href="{% url 'show-profile' node.author.id %}" title="{{node.author}}'s profile">{{node.author}}</a>
                                      </div>
                                      <span>{{ node.created_time }}</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col ml-5">
                                      <p style="white-space: pre-wrap;">{{ node.body }}</p>
                                  </div>
                              </div>
                                {% if not node.is_leaf_node %}
                                    <ul class="list-group children w-100 mt-1">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endrecursetree %}
                        {% if request.user.is_authenticated %}
                        <div class="list-group-item pl-5">
                        <form action="{% url 'comment-event' event.id %}" method="POST">
                            {% csrf_token %}
                            {{ comment_form.body }}
                            <br/><button type="submit" class="btn btn-primary">Comment</button>
                        </form>
                        </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="container">
                {% if sponsor_count > 0 %}
                <div class="row">
                    <div class="col"><h4>Sponsors</h4><hr/></div>
                </div>
                {% for sponsor in sponsor_list %}
                <div class="row mb-3">
                    <div class="col">
                        <a href="{{sponsor.web_url}}" target="_blank"><img src="{{sponsor.logo.url}}" alt="{{sponsor.name}} Logo" title="{{sponsor.name}}"></a>
                    </div>
                </div>
                {% endfor %}
                <div class="row mb-3"></div>
                {% endif %}
                <div class="row">
                    <div class="col"><h4>Attendees ({{attendee_count}})</h4><hr/></div>
                </div>
                {% for attendee in attendee_list %}
                <div class="row mb-3">
                    <div class="col media gt-profile">
                      <img class="mr-1 gt-profile-avatar" src="{{attendee.user.avatar_url}}" width="32px" height="32px">
                      <span class="gt-profile-badges">{% for badge in attendee.user.user.account.badges.all %}<img class="mr-0 gt-profile-badge" src="{{badge.img_url}}" title="{{badge.name}}" width="16px" height="16px">{% endfor %}</span>
                      <div class="media-body">
                        <h6 class="mt-2 mb-0">
                          <a href="{% url 'show-profile' attendee.user.id %}" title="{{attendee.user}}'s profile">{{attendee.user}}</a>
                          {% if attendee.user.user == request.user and not event.is_over %}
                              {% if attendee.status == attendee.YES %}
                                  <span class="badge badge-success dropdown-toggle align-top" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ attendee.status_name }}</span>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'attend-event' event.id %}?response=maybe">Maybe</a>
                                    <a class="dropdown-item" href="{% url 'attend-event' event.id %}?response=no">No</a>
                                  </div>
                              {% elif attendee.status == attendee.MAYBE %}
                                  <span class="badge badge-default dropdown-toggle align-top" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ attendee.status_name }}</span>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'attend-event' event.id %}?response=yes">Yes</a>
                                    <a class="dropdown-item" href="{% url 'attend-event' event.id %}?response=no">No</a>
                                  </div>
                              {% elif attendee.status == attendee.NO %}
                                  <span class="badge badge-danger dropdown-toggle align-top" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ attendee.status_name }}</span>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'attend-event' event.id %}?response=yes">Yes</a>
                                    <a class="dropdown-item" href="{% url 'attend-event' event.id %}?response=maybe">Maybe</a>
                                  </div>
                              {% endif %}
                          {% else %}
                              {% if attendee.status == attendee.YES %}
                              <span class="badge badge-success align-top">{{ attendee.status_name }}</span>
                              {% elif attendee.status == attendee.MAYBE %}
                              <span class="badge badge-default align-top">{{ attendee.status_name }}</span>
                              {% elif attendee.status == attendee.NO %}
                              <span class="badge badge-danger align-top">{{ attendee.status_name }}</span>
                              {% endif %}
                          {% endif %}
                        </h6>
                        {% if attendee.role > 0 %}<small class="text-muted">{{ attendee.role_name }}</small>{% endif %}
                      </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col"><hr/><h4>Photos</h4></div>
                </div>
                <div class="row">
                {% for photo in event.photos.all %}
                  <div class="card mb-4 box-shadow mr-1" style="width: 250px">
                    <div class="card-banner">
                      <a href="{{photo.src.url}}" target="_blank">
                      <img class="card-img-top" src="{{photo.thumbnail.url}}" alt="{{photo.title}}">
                      </a>
                    </div>
                    <div class="card-body">
                      <p class="card-text"><strong>{{photo.title}}</strong></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">{{photo.caption}}</small>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
                {% if can_edit_event %}
                <div class="row">
                    <div class="col"><a class="btn btn-primary" href="{% url 'add-event-photo' event.id %}">Upload</a></div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

