{% extends "get_together/base.html" %}
{% load markup static %}

{% block add_to_totle %} | {{event.name}}{% endblock %}

{% block meta %}
  <meta property="og:url"           content="{{event.get_full_url}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{event.name}}" />
  <meta property="og:description"   content="{{event.summary}}" />
  <meta property="og:image"         content="https://gettogether.community{% static 'img/team_placeholder.png' %}" />
{% endblock %}

{% block styles %}
    <style>
.gt-profile {
    position: relative;
}
.gt-profile .gt-profile-badges {
    position: absolute;
    top: 16px;
    left: 6px;

}
    </style>
{% endblock %}

{% block content %}
<div class="fluid-container">
    <div class="row">
        <div class="col-md-9">
            <h2>{{ event.name }}
                {% if can_edit_event %}
                <a href="{% url 'edit-event' event.id %}" class="btn btn-secondary btn-sm">Edit Event</a>
                {% endif %}
                {% if not is_attending %}
                <a href="{% url 'attend-event' event.id %}" class="btn btn-success btn-sm">Attend</a>
                {% endif %}
                <a href="{% url 'share-event' event.id %}" class="btn btn-primary btn-sm">Share</a>
            </h2><p class="text-muted">Hosted by <a href="{% url "show-team" team.id %}">{{ team.name }}</a></p><hr/>

            <p>{{ event.summary|markdown }}</p>

            <table class="table">
            <tr>
	            <td><b>Time:</b></td><td>{{ event.start_time }} - {{ event.end_time }}</td>
            </tr><tr>
	            <td><b>Place:</b></td><td>
                      {% if event.place %}
                          <a class="" href="{% url 'show-place' event.place.id %}">{{ event.place.name }}</a>
                      {% elif can_edit_event %}
                          <a class="" href="{% url 'add-place' event.id %}">No place selected yet.</a>
                      {% else %}
                          No place selected yet.
                      {% endif %}
	            </td>
            </tr><tr>
            {% if event.web_url %}
            </tr><tr>
	            <td><b>Website:</b></td><td><a href="{{ event.web_url }}" target="_blank">{{ event.web_url }}</a></td>
            {% endif %}
            </tr>
            </table>
            <br/>
        </div>

        <div class="col-md-3">
            <div class="container">
                <div class="row">
                    <div class="col"><h4>Attendees ({{attendee_list.count}})</h4><hr/></div>
                </div>
                {% for attendee in attendee_list %}
                <div class="row mb-3">
                    <div class="col media gt-profile">
                      <img class="mr-1 gt-profile-avatar" src="{{attendee.user.avatar}}" width="32px" height="32px">
                      <span class="gt-profile-badges">{% for badge in attendee.user.user.account.badges.all %}<img class="mr-0 gt-profile-badge" src="{{badge.img_url}}" title="{{badge.name}}" width="16px" height="16px">{% endfor %}</span>
                      <div class="media-body">
                        <h6 class="mt-2 mb-0">{{attendee.user}}  <span class="badge badge-success align-top">{{ attendee.status_name }}</span></h6>
                        {% if attendee.role > 0 %}<small class="text-muted">{{ attendee.role_name }}</small>{% endif %}
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

