{% extends "get_together/base.html" %}
{% load static i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <center>
                <p><img class="align-bottom" border="1" src="{{profile.avatar_url}}" height="64px"/></p>
                <h3>{% trans "Please confirm your profile information" %}</h3>

                <form enctype="multipart/form-data" action="{% url 'setup-1-confirm-profile' %}" method="POST" class="form">
                    {% csrf_token %}
                    <p>{% include "events/profile_form.html" %}</p>
                    <p><button type="submit" class="btn btn-success pl-5 pr-5">{% trans "Continue" %}</button></p>
                </form>
            </center>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-ui-lookup.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#city_select").lookup({
        search: function(searchText, callback) {
            if (searchText.length < 3) return callback(searchText, []);
            $.getJSON("/api/cities/?q="+searchText, function(data) {
                var m = this.url.match(/q=([^&]+)/);
                var q = "";
                if (m && m.length > 0) {
                    q = this.url.match(/q=([^&]+)/)[1]
                }

                return callback(q, data);
            });
        },
        select: function( event, ui ) {
          $("#id_tz").val(ui.data.tz);
          $("#id_tz").selectmenu("refresh");
        }
    });
    $("#id_tz").selectmenu()
});
</script>
{% endblock %}
