{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Get Together{% block add_to_title %}{% endblock %}{% endblock %}</title>

    {% block meta %}{% endblock %}

    {% if settings.GOOGLE_ANALYTICS_ID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{settings.GOOGLE_ANALYTICS_ID}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{settings.GOOGLE_ANALYTICS_ID}}');
      {% block extra_google_analytics %}{% endblock %}
    </script>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'js/tether/css/tether.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    {%block styles %}{% endblock %}
    <!-- Bootstrap style overrides -->
    <style>
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
form {
  display: inline;
}
.ui-selectmenu-menu .ui-menu {
    height: 200px;
}
    </style>

  </head>
  <body>

   <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <a class="navbar-brand" href="/">GetTogether</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item{% if request.resolver_match.url_name == "events" %} active{% endif %}">
            <a class="nav-link" href="{% url 'events' %}">Events{% if request.resolver_match.url_name == "events" %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item{% if request.resolver_match.url_name == "teams" %} active{% endif %}">
            <a class="nav-link" href="{% url 'teams' %}">Teams{% if request.resolver_match.url_name == "teams" %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% comment %}
          <li class="nav-item{% if request.resolver_match.url_name == "places" %} active{% endif %}">
            <a class="nav-link" href="{% url 'places' %}">Places{% if request.resolver_match.url_name == "places" %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% endcomment %}
          {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUserMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="rounded-circle mr-1" src="{{request.user.profile.avatar}}" height="24px"/>{% if request.user.profile.realname %}{{ request.user.profile.realname }}{% else %}{{ request.user.username }}{% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarUserMenuLink">
                  <a class="dropdown-item" href="{% url 'show-profile' request.user.profile.id %}">Profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Signup or Login</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

    {% if messages %}
    <div class="alerts">
        {% for message in messages %}
        <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

{% block content %}{% endblock %}
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether/js/tether.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.js' %}"></script>
{% block javascript %}{% endblock %}
</html>
