{% extends "get_together/base.html" %}

{% block content %}
<h2>Get Together with friends</h2>
<form action="{% url "create-team" %}" method="post">
{% csrf_token %}
{% include "events/team_form.html" %}
	<br />
<button type="submit" class="btn btn-primary">Gather your Team</button>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){

    $("#city_search").keyup(function() {
        var searchText = this.value;
        $.getJSON("/api/cities/?q="+searchText, function(data) {
            var searchField = $("#city_search")[0];
            var m = this.url.match(/q=([^&]+)/);
            var q = "";
            if (m && m.length > 0) {
                q = this.url.match(/q=([^&]+)/)[1]
            }        var c = searchField.value
            if (c != q) return;

                var selectField = $("#city_select");
                selectField.empty();
                $.each(data, function(){
                    selectField.append('<option value="'+ this.id +'">'+ this.display + '</option>')
            });
        });
    });

});


</script>

{% endblock %}
