{% extends "get_together/base.html" %}

{% block content %}
<h2>Choose your meeting place</h2>
<form action="{% url "create-place" %}" method="post">
{% csrf_token %}
<div class="form-group">
{% include "events/place_form.html" %}
	<br />
<button type="submit" class="btn btn-primary">Save your Place</button>
</div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("#city_search").keyup(function() {
	var searchText = this.value;
	$.getJSON("/api/cities/?q="+searchText, function(data) {
	    var selectField = $("#city_select");
	    selectField.empty();
	    $.each(data, function(){
		selectField.append('<option value="'+ this.id +'">'+ this.name+ '</option>')
	    });
	});
    });
});
</script>
{% endblock %}
