{% extends "get_together/base.html" %}
{% load static i18n %}

{% block styles %}
    <link href="{% static 'css/bootstrap-album.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row navbar-inverse bg-inverse mb-3">
            <div class="col-12 navbar-text">
                <form action="{% url 'home' %}" method="GET">{{search_form}} <input type="submit" value="{% trans "Search" %}" class="btn btn-primary btn-sm"></form>
            </div>
        </div>
{% if geoip_lookup or city_search %}
        <div class="row">
            <div class="col-12">
            <h3>{% trans "Nearby Events" %}</h3>
            </div>
        </div>
        <div class="row">
            {% if near_events %}
            {% for event in near_events %}
                    <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <div class="card-banner">
                          <a href="{{event.event_url}}">
                          {% if event.img_url %}
                          <img class="card-img-top" src="{{event.img_url}}" alt="{{event.event_title}}">
                          {% else %}
                          <img class="card-img-top" src="{% static 'img/team_placeholder.png' %}" alt="{{event.event_title}}">
                          {% endif %}
                          <p class="card-title">{{event.event_title}}</p>
                          </a>
                        </div>
                        <div class="card-body">
                          <p class="card-text"><strong>{{event.group_name}}</strong></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{ event.local_start_time }}<br/>{{event.location_name}}</small>
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{{event.event_url}}">View</a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            {% endfor %}
            {% else %}
                <div class="col-12 mb-3">
                    <div class="alert alert-info">
                        {% if city %}
                            {% blocktrans %}There are no events within {{ distance }}km of {{ city }}.{% endblocktrans %}
                        {% else %}
                            {% blocktrans %}There are no events within {{ distance }}km of you.{% endblocktrans %}
                        {% endif %}
                        <a class="btn btn-success btn-sm" href="{% url 'create-event-team-select' %}">{% trans "Create one now" %}</a>
                        or
                        <a class="btn btn-primary btn-sm" href="{% url 'all-events' %}">{% trans "View all events" %}</a>
                    </div>
                </div>
            {% endif %}
            {% if closest_events %}
            {% for event in closest_events %}
                    <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <div class="card-banner">
                          <a href="{{event.event_url}}">
                          {% if event.img_url %}
                          <img class="card-img-top" src="{{event.img_url}}" alt="{{event.event_title}}">
                          {% else %}
                          <img class="card-img-top" src="{% static 'img/team_placeholder.png' %}" alt="{{event.event_title}}">
                          {% endif %}
                          </a>
                          <p class="card-title">{{event.group_name}}</p>
                        </div>
                        <div class="card-body">
                          <p class="card-text"><strong><a class="card-link" href="{{event.event_url}}">{{event.event_title}}</a></strong></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{ event.local_start_time }}<br/>{{event.location_name}}</small>
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{{event.event_url}}">{% trans "View" %}</a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12">
            <h3>{% trans "Nearby Teams" %}</h3>
            </div>
        </div>
        <div class="row">
            {% if near_teams %}
            {% for team in near_teams %}
                    <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <div class="card-banner">
                          <a href="{% url 'show-team-by-slug' team.slug %}">
                          <img class="card-img-top" src="{{team.card_img_url}}" alt="{{team.name}}">
                          </a>
                          <p class="card-title">{{team.name}}</p>
                        </div>
                        <div class="card-body">
                          <p class="card-text"><strong><a class="card-link" href="{% url 'show-team-by-slug' team.slug %}">{{team.city}}</a></strong></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">
                                {% blocktrans with event_count=team.event_set.count count member_count=team.members.count %}
                                    {{ members_count }} Member, {{ event_count }} Events
                                {% plural %}
                                    {{ members_count }} Members, {{ event_count }} Events
                                {% endblocktrans %}
                            </small>
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'show-team-by-slug' team.slug %}">{% trans "View" %}</a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            {% endfor %}
            {% else %}
                <div class="col-12">
                    <div class="alert alert-info">
                        {% if city %}
                            {% blocktrans %}There are no teams within {{ distance }}km of {{ city }}.{% endblocktrans %}
                        {% else %}
                            {% blocktrans %}There are no teams within {{ distance }}km of you.{% endblocktrans %}
                        {% endif %}
                        <a class="btn btn-success btn-sm" href="{% url 'create-team' %}">{% trans "Create one now" %}</a>
                        or
                        <a class="btn btn-primary btn-sm" href="{% url 'all-teams' %}">{% trans "View all teams" %}</a>
                    </div>
                </div>
            {% endif %}
            {% if closest_teams %}
            {% for team in closest_teams %}
                    <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <div class="card-banner">
                          <a href="{% url 'show-team-by-slug' team.slug %}">
                          <img class="card-img-top" src="{{team.card_img_url}}" alt="{{team.name}}">
                          </a>
                          <p class="card-title">{{team.name}}</p>
                        </div>
                        <div class="card-body">
                          <p class="card-text"><strong><a class="card-link" href="{% url 'show-team-by-slug' team.slug %}">{{team.city}}</a></strong></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{ team.members.count }} members</small>
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'show-team-by-slug' team.slug %}">{% trans "View" %}</a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            {% endfor %}
            {% endif %}
        </div>
{% else %}
    </div>
    <div class="alert alert-warning">{% trans "We were unable to determine your location. Use the search field above to enter your city." %}</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-ui-lookup.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#city_select").lookup({
        search: function(searchText, callback) {
        if (searchText.length < 3) return callback(searchText, []);
            $.getJSON("/api/cities/?q="+searchText, function(data) {
                var m = this.url.match(/q=([^&]+)/);
                var q = "";
                if (m && m.length > 0) {
                    q = this.url.match(/q=([^&]+)/)[1]
                }

                return callback(q, data);
            });
        }
    })
    $("#city_search").keyup(function() {
        var searchText = this.value;
    });

});
</script>

{% endblock %}
