{% extends "get_together/base.html" %}

{% block content %}
<h2>Welcome to {{ team.name }}</h2>

<h4>Upcoming Events</h4>
{% include "events/event_list.html" %}
{% if can_create_event %}
<br />
<form action="{% url 'create-event' team.id %}" method="get">
<button type="submit" class="btn btn-primary">Plan a Get Together</button>
</form>
{% endif %}

{% if can_edit_team %}
<form action="{% url 'edit-team' team.id %}" method="get">
<button type="submit" class="btn btn-secondary">Edit Team</button>
</form>
{% endif %}
{% endblock %}

