{% extends "get_together/base.html" %}
{% load markup i18n %}

{% block styles %}
    <style>
.gt-profile {
    position: relative;
}
.gt-profile .gt-profile-badges {
    position: absolute;
    top: 16px;
    left: 6px;

}
    </style>
{% endblock %}

{% block content %}
<div class="fluid-container">
    <div class="row">
        <div class="col-md-9">
            <h2>{{ place.name }}
                {% if can_edit_place %}
                <a href="{% url 'edit-place' place.id %}" class="btn btn-secondary btn-sm">{% trans "Edit Place" %}</a>
                {% endif %}
            </h2>
            <table class="table">
            <tr>
	            <td><b>{% trans "Address:" %}</b></td><td>{{ place.address }}</td>
            </tr><tr>
	            <td><b>{% trans "City:" %}</b></td><td>{{ place.city }}</td>
            </tr><tr>
            {% if place.place_url %}
            </tr><tr>
	            <td><b>{% trans "Website:" %}</b></td><td><a href="{{ place.place_url }}" target="_blank">{{ place.place_url }}</a></td>
            {% endif %}
            </tr>
            </table>

            <iframe
              width="720"
              height="400"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key={{ settings.GOOGLE_MAPS_API_KEY }}&q={{place.name|urlencode}}%2C%20{{place.address|urlencode}}&zoom=17"
              allowfullscreen>
            </iframe>

        </div>

        <div class="col-3-sm">
            <div class="container">
                <div class="row">
                    <div class="col"><h4>{% trans "Events" %} ({{event_list.count}})</h4><hr/></div>
                </div>
                {% for event in event_list %}
                <div class="row mb-3">
                    <div class="col">
                        <h6 class="mt-2 mb-0"><a href="{{event.get_absolute_url}}">{{event.name}}</a></h6>
                        <small class="text-muted">{{ event.local_start_time }}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

