{% extends "get_together/base.html" %}

{% block content %}
<h2>Confirm deletion</h2>
{% if talk.future_presentations.count > 0 %}
    <div class="alerts">
        <div class="alert alert-danger">This talk has {{ talk.future_presentations.count }} pending event!</div>
    </div>
{% endif %}
Are you sure you want to delete <strong>{{talk.title}}</strong>?
<form action="{% url "delete-talk" talk.id %}" method="post">
{% csrf_token %}
<div class="form-group">
{{ delete_form }}
	<br />
<button type="submit" class="btn btn-danger">Delete Talk</button>
</div>
</form>
{% endblock %}

