{% extends "get_together/base.html" %}
{% load static i18n %}


{% block content %}
<h2>{% trans "Edit Speaker" %}</h2>


<form enctype="multipart/form-data" action="{% url "edit-speaker" speaker.id %}" method="post">
{% csrf_token %}
<div class="form-group">
    <table class="table">
        <tr><th></th><td><img src="{{speaker.headshot_url}}"/></td></tr>
        {{speaker_form}}
    </table>
	<br />
<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
</div>
</form>
<a href="{% url 'delete-speaker' speaker.id %}" class="btn btn-danger">{% trans "Delete" %}</a>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("#city_select").lookup({
        search: function(searchText, callback) {
            if (searchText.length < 3) return callback(searchText, []);
            $.getJSON("/api/cities/?q="+searchText, function(data) {
                var m = this.url.match(/q=([^&]+)/);
                var q = "";
                if (m && m.length > 0) {
                    q = this.url.match(/q=([^&]+)/)[1]
                }

                return callback(q, data);
            });
        },
        select: function( event, ui ) {
          $("#id_tz").val(ui.data.tz);
          $("#id_tz").selectmenu("refresh");
        }
    });
    $("#id_categories").selectmenu()
});
</script>
{% endblock %}
