{% extends "get_together/base.html" %}
{% load static tz %}

{% block styles %}
    <link href="{% static 'css/bootstrap-album.css' %}" rel="stylesheet"/>

{% endblock %}

{% block content %}
        <div class="container">
{% if proposed_talks %}
        <div class="row">
{% for presentation in proposed_talks %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="width: 18rem;">
                <div class="card-body">
                  <p class="card-title" style="height: 2rem;">
                      <strong><a href="{% url 'show-talk' presentation.talk.id %}">{{presentation.talk.title}}</a></strong>
                    {% if presentation.status == -1 %}
                        <span class="badge badge-danger" >Declined</span>
                    {% elif presentation.status == 1 %}
                        <span class="badge badge-success" >Accepted</span>
                    {% else %}
                        <span class="badge badge-info" >Submitted</span>
                    {% endif %}
                  </p>
                  <div class="card-text">
                    <small class="text-muted mb-1">{{ presentation.talk.speaker }}</small>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}
        </div>
        <hr/>
{% endif %}
        <div class="row">
{% for talk in available_talks %}
            <form action="{% url 'propose-event-talk' event.id %}" method="POST">
            {% csrf_token %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="width: 18rem;">
                <div class="card-body">
                  <p class="card-title" style="height: 2rem;"><strong><a href="{% url 'show-talk' talk.id %}">{{talk.title}}</a></strong></p>
                  <div class="card-text">
                    <small class="text-muted mb-1">{{ talk.speaker }}</small>
                    <button class="btn btn-primary" type="submit" name="talk_id" value="{{talk.id}}">Propose</a></span>
                  </div>
                </div>
              </div>
            </div>
            </form>
{% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <a href="{{event.get_absolute_url}}" class="btn btn-secondary">Cancel</a>
                <a href="{% url 'add-user-talk' %}" class="btn btn-success">New Talk</a>
            </div>
        </div>
    </div>

{% endblock %}

