{% extends "get_together/base.html" %}
{% load static i18n %}

{% block content %}
<h2>{% blocktrans with team_name=team.name %}You have been invited to join <b>{{team_name}}</b>{% endblocktrans %}</h2>
<p>{% trans "Would you like to join this team?" %}</p>
<form action="{% url "accept-invite-to-join-team" invite.request_key %}" method="post">
{% csrf_token %}
{% include "events/team_invite_form.html" %}
	<br />
<button type="submit" class="btn btn-primary">{% trans "Accept" %}</button>
<a class="btn btn-secondary" href="{% url 'show-team' team.id %}">{% trans "Decline" %}</a>
</form>
{% endblock %}


