{% extends "get_together/base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Confirm deletion" %}</h2>
{% blocktrans with team_name=team.name %}Are you sure you want to delete <strong>{{team_name}}</strong>?{% endblocktrans %}
{% if team.event_set.count > 0 %}
    <div class="alerts">
        <div class="alert alert-danger">{% blocktrans with event_count=team.event_set.count %}This team has {{ event_count }} events!{% endblocktrans %}</div>
    </div>
{% endif %}
<form action="{% url "delete-team" team.id %}" method="post">
{% csrf_token %}
<div class="form-group">
{{ delete_form }}
	<br />
<button type="submit" class="btn btn-danger">{% trans "Delete Team" %}</button>
</div>
</form>
{% endblock %}

