{% extends "get_together/base.html" %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/bootstrap-album.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="fluid-container">
        <div clas="row">
            <div class="col-12 text-center mb-2">
                <div class="btn-group" role="group">
                  <a class="btn {% if not request.user.is_authenticated %}disabled {% endif %}{% if active == 'my'  %}btn-primary{% else %}btn-secondary{% endif %}" href="{% url 'teams' %}">My Teams</a>
                  <a class="btn {% if active == 'all' %}btn-primary{% else %}btn-secondary{% endif %}" href="{% url 'all-teams' %}">All Teams</a>
                </div>
            </div>
        </div>
        <div class="row">
        {% for team in teams %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-banner">
                  {% if team.category %}
                  <img class="card-img-top" src="{{team.category.img_url}}" alt="{{team.name}}">
                  {% else %}
                  <img class="card-img-top" src="{% static 'img/team_placeholder.png' %}" alt="{{team.name}}">
                  {% endif %}
                  <p class="card-title">{{team.name}}</p>
                </div>
                <div class="card-body">
                  <p class="card-text"><strong><a class="card-link" href="{% url 'show-team' team.id %}">{{team.city}}</a></strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ team.members.count }} members</small>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'show-team' team.id %}">View</a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <br/><a href="{% url 'create-team' %}" class="btn btn-success">Start a team</a>
            </div>
        </div>
</div>

{% endblock %}

