{% extends "get_together/base.html" %}
{% load markup tz %}

{% block add_to_title %} | {{team.name}}{% endblock %}

{% block styles %}
    <style>
.gt-profile {
    position: relative;
}
.gt-profile .gt-profile-badges {
    position: absolute;
    top: 16px;
    left: 6px;

}
    </style>
{% endblock %}

{% block content %}
<div class="fluid-container">
    <div class="row">
        <div class="col-sm-9">
            <h2>Members of <a href="{% url 'show-team-by-slug' team.slug %}">{{ team.name }}</a>
            </h2>
            <p><a href="{% url 'invite-members' team.id %}" class="btn btn-secondary btn-sm"><i class="fa fa-user-plus"></i> Invite Members</a></p>

            <table class="table">
            <tr>
                <th colspan="2">Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Joined</th>
            </tr>
            {% for member in members %}
            <tr>
                <td><img class="gt-profile-avatar rounded-circle" src="{{member.user.avatar_url}}" width="32px" height="32px"></td>
                <td><a href="{% url 'show-profile' member.user.id %}">{{member.user}}</a></td>
                <td>
                    {% if member.user.user.account.is_email_confirmed %}
                    <a href="javascript:contact_member({{member.id}});" class="fa fa-envelope" title="Contact"></a>
                    {% endif %}
                </td>
                <td>
                    <div style="position: relative">
                {% if member.role == member.ADMIN %}
                  <span class="btn btn-sm btn-success dropdown-toggle align-top" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ member.role_name }}</span>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'change-member-role' team.id member.user.id %}?role=moderator&csrftoken={{csrf_token}}">Moderator</a>
                    <a class="dropdown-item" href="{% url 'change-member-role' team.id member.user.id %}?role=normal&csrftoken={{csrf_token}}">Normal</a>
                  </div>
                {% elif member.role == member.MODERATOR %}
                  <span class="btn btn-sm btn-default dropdown-toggle align-top" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ member.role_name }}</span>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'change-member-role' team.id member.user.id %}?role=admin&csrftoken={{csrf_token}}">Administrator</a>
                    <a class="dropdown-item" href="{% url 'change-member-role' team.id member.user.id %}?role=normal&csrftoken={{csrf_token}}">Normal</a>
                  </div>
                {% elif member.role == member.NORMAL %}
                  <span class="btn btn-sm btn-secondary dropdown-toggle align-top" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ member.role_name }}</span>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'change-member-role' team.id member.user.id %}?role=admin&csrftoken={{csrf_token}}">Administrator</a>
                    <a class="dropdown-item" href="{% url 'change-member-role' team.id member.user.id %}?role=moderator&csrftoken={{csrf_token}}">Moderator</a>
                  </div>
                {% endif %}
                    </div>
                </td>
                <td>{{member.joined_date}}</td>
            </tr>
            {% endfor %}
            </table>
            <hr/>

        </div>

        <div class="col-sm-3">
            <div class="container">
            <h4>Contact</h4><hr/>
                <div class="row">
                    <div class="col">
                        <form action="{% url 'manage-members' team.id %}" method="POST">
                            {% csrf_token %}
                            {{ contact_form.as_p }}
                            <button type="submit" class="btn btn-primary btn-sm">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("#id_to").selectmenu();
});

function contact_member(member_id) {
    $("#id_to").val(member_id);
    $("#id_to").selectmenu("refresh");
    $("#id_body").focus();
}
</script>
{% endblock %}