{% extends "get_together/base.html" %}
{% load markup tz %}

{% block add_to_title %} | {{team.name}}{% endblock %}

{% block styles %}
    <style>
.gt-profile {
    position: relative;
}
.gt-profile .gt-profile-badges {
    position: absolute;
    top: 16px;
    left: 6px;

}
    </style>
{% endblock %}

{% block content %}
<div class="fluid-container">
    <div class="row">
        <div class="col-sm-9">
            <h2>Members of <a href="{% url 'show-team' team.id %}">{{ team.name }}</a>
            </h2>

            <table class="table">
            <tr>
                <th colspan="2">Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Joined</th>
            </tr>
            {% for member in members %}
            <tr>
                <td><img class="gt-profile-avatar rounded-circle" src="{{member.user.avatar_url}}" width="32px" height="32px"></td>
                <td>{{member.user}}</td>
                <td>
                    {% if member.user.user.account.is_email_confirmed %}
                    <a href="javascript:contact_member({{member.id}});" class="fa fa-envelope" title="Contact"></a>
                    {% endif %}
                </td>
                <td>{{member.role_name}}</td>
                <td>{{member.joined_date}}</td>
            </tr>
            {% endfor %}
            </table>
            <hr/>

        </div>

        <div class="col-sm-3">
            <div class="container">
            <h4>Contact</h4><hr/>
                <div class="row">
                    <div class="col">
                        <form action="{% url 'manage-members' team.id %}" method="POST">
                            {% csrf_token %}
                            {{ contact_form.as_p }}
                            <button type="submit" class="btn btn-primary btn-sm">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("#id_to").selectmenu();
});

function contact_member(member_id) {
    $("#id_to").val(member_id);
    $("#id_to").selectmenu("refresh");
    $("#id_body").focus();
}
</script>
{% endblock %}