{% extends "get_together/teams/team_page_base.html" %}
{% load static markup tz %}

{% block events-button %}btn-default{% endblock %}


{% block page_content %}
            {% if can_create_event %}
            <div class="row mt-3 mb-3">
                <div class="col">
                    <a href="{% url 'create-event' team.id %}" class="btn btn-success"><i class="far fa-calendar-plus"></i>  Host a Get Together</a>
                </div>
            </div>
            {% endif %}
            <div class="container container-secondary">
                <h4>Upcoming Events
                    <small><a href="{% url 'team-event-ical' team.id %}" class="far fa-calendar-alt" title="iCal"></a></small>
                </h4>
                {% for event in upcoming_events %}
                <div class="row{% if event.status == event.CANCELED %} text-muted{% endif %}">
                    <div class="col">{% if event.status == event.CANCELED %}<del>{% endif %}<a href="{{ event.get_absolute_url }}">{{event.name}}</a>{% if event.status == event.CANCELED %}</del> (Canceled){% endif %}</div>
                    <div class="col">{{ event.place }}</div>
                    <div class="col">{{ event.local_start_time }}</div>
                </div>
                {% endfor %}
            </div>
            <br/>

            {% if recent_events %}
            <div class="container container-secondary">
                <h4>Past Events</h4>
                {% for event in recent_events %}
                <div class="row">
                    <div class="col"><a href="{{ event.get_absolute_url }}">{{event.name}}</a></div>
                    <div class="col">{{ event.place }}</div>
                    <div class="col">{{ event.local_start_time }}</div>
                </div>
                {% endfor %}
            </div>
            <br/>
            {% endif %}
{% endblock %}