{% extends "get_together/emails/base.html" %}

{% block content %}
{% load i18n %}{% autoescape off %}
<h3>{% blocktrans %}Password Reset{% endblocktrans %}</h3>
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
{% block reset_link %}
<a class="btn btn-success" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset my password</a>
{% endblock %}
<p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

{% endautoescape %}
{% endblock %}